@theme inline {
  --color-error: var(--error);
  --color-error-hover: var(--error-hover);
  --color-error-foreground: var(--error-foreground);
  --color-error-foreground-hover: var(--error-foreground-hover);
}

:root {
  --error: #fca5a5;
  --error-hover: #f87171;
  --error-foreground: #991b1b;
  --error-foreground-hover: #7f1d1d;
}

.dark {
  --error: #991b1b;
  --error-hover: #b91c1c;
  --error-foreground: #fca5a5;
  --error-foreground-hover: #fca5a5;
}
